<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Hassan AKAR{% endblock %}</title>
    {% block stylesheets %} {% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>


<header>
    {% block nav %}
    {% endblock %}

    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view" style="width: 300px;height:135px">
                <div class="background">
                    <a href="#"><img src="{{ asset('images/logo.jpg') }}" alt="logo" class="img-responsive" width="300" height="135"></a>
                </div>
            </div>
        </li>
        <li><a href="{{ path('homepage') }}" class="waves-effect"><i class="material-icons">home</i>Accueil</a></li>
        <li><a href="#!" class="waves-effect"><i class="material-icons">check_box</i>Projets</a></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">file_download</i>Curriculum Vitae </a></li>
        <li><a href="{{ path('contact_index') }}" class="waves-effect"><i class="material-icons">check_box</i>Contact</a></li>
    </ul>
</header>



<main>
    <div class="container">
        <div class="col s12">
            {% block body %}{% endblock %}

        </div>
    </div>
</main>
<footer style="height: 135px;background-color: #5eb5e0">
    <div class="container">

    </div>




</footer>




{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {
            $(".btn").sideNav();
        });

        (function($){
            $(function(){

                $('.button-collapse').sideNav({
                        edge: 'left', // Choose the horizontal origin
                        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                        draggable: true // Choose whether you can drag to open on touch screens
                    }
                );

            }); // end of document ready
        })(jQuery);

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

{% endblock %}

</body>
</html>
